.slidecontainer {
  width: 55%;
  margin-left: 7%;
}

h2 {
  margin-left: 7%;
}

.slider:hover {
  opacity: 1;
}

.slider {
    width: 60%;
    margin: 50px auto;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: rgb(200, 200, 200);
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: rgb(0, 255, 0);
    overflow: visible;
    cursor: pointer;
    transition: all 0.33s ease;
        
}

.slidecontainer {
    transform: translateY(-10px);
}


p {
	margin-left: 5%;
	font-size: 20px;
	color: white;
}

body {
	background-color: #55438f;
	color: white;
	}
	
fieldset > * {
    vertical-align: middle;
}

.leftlabel, .rightlabel {
    display: inline-block;
    width: 50px;
    padding: 2px;
    text-align: center;
}

.leftlabel {
    background-color: indigo;
    color: white;
}
.rightlabel {
    background-color: purple;
    color: white;
}

label {
    display: inline-block;
    width: 50px;
}